@import url("https://fonts.googleapis.com/css2?family=Nunito&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Patrick+Hand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap");

/* Style reset */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  outline: none;
}
html {
  font-family: "Nunito";
  scroll-behavior: smooth;
}
::-webkit-scrollbar {
  width: 10px;
  box-shadow: inset 1px 1px 2px grey;
}
::-webkit-scrollbar-button {
  display: none;
}
::-webkit-scrollbar-thumb {
  border-radius: 6px;
  background: rgb(240, 190, 60);
  box-shadow: inset 1px 1px 2px black;
}

/* 
====== Loading Screen ======
*/
#loading {
  position: fixed;
  display: block;
  width: 100%;
  height: 100%;
  z-index: 100;
  text-align: center;
  background: linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5));
  z-index: 100;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
}
#loading-image {
  width: 150px;
  margin: 0 auto;
}

/* 
====== Animation ======
*/
.js-scroll {
  opacity: 0;
  transition: opacity 500ms;
}
.js-scroll.scrolled {
  opacity: 1;
}
.scrolled.fade-in-bottom {
  animation: fade-in-bottom 1000ms ease-in-out both;
}
@keyframes fade-in-bottom {
  0% {
    -webkit-transform: translateY(50px);
    transform: translateY(50px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}

/* 
<------ Container Style ------>
*/
.header-text {
  margin: 0 0 20px;
  font-family: "Patrick Hand";
  color: rgb(240, 190, 60);
  text-shadow: 1px 1px black;
  text-align: center;
}

/* 
====== Navigation ======
*/
nav {
  padding: 5px 5%;
  position: fixed;
  top: 0;
  z-index: 100;
  width: 100%;
  height: 10%;
  display: flex;

  background: white;
  box-shadow: 1px 1px 3px black;
  opacity: 0;

  font-size: 24px;

  transition: 800ms;
}
.nav--alt {
  opacity: 100%;
}
.nav-text {
  margin: 0 20px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
nav a {
  color: rgb(240, 190, 60);
  font-family: "Patrick Hand";
  text-decoration: none;
}
.nav-logo {
  height: 100%;
}
@media (max-width: 480px) {
  nav {
    height: 8%;
    font-size: 20px;
  }
  .nav-text {
    margin: 0 12px;
  }
}

/* 
<------ Header Section Style ------>
*/
#header {
  padding: 100px 10px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 6px;

  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url("https://static.wixstatic.com/media/028265_c3736235aa62426195df7c05a4df62c6~mv2.jpg/v1/fill/w_1962,h_1202,al_c,q_90,usm_0.66_1.00_0.01,enc_auto/028265_c3736235aa62426195df7c05a4df62c6~mv2.jpg");
  background-size: cover;
  background-position: center;

  text-align: center;
}
#header h1 {
  font-size: 58px;
  font-weight: lighter;
  color: rgb(240, 190, 60);
  font-family: "Patrick Hand";
  letter-spacing: 1px;
  text-shadow: 1px 2px black;
}
#header p {
  font-size: 16px;
  color: rgb(200, 200, 200);
}
.social-links {
  width: 100%;
  margin: 0 auto;
  list-style: none;

  display: flex;
  justify-content: center;
}
.social-links li a {
  color: white;
  text-shadow: 1px 2px black;
  font-size: 20px;
  margin: 0 10px;
}
.social-links li a i:hover {
  opacity: 50%;
}
@media (max-width: 480px) {
  #header h1 {
    font-size: 38px;
  }
  #header p {
    font-size: 12px;
  }
}

/* 
<------ Menu Section Style ------>
*/
#menu {
  padding: 40px;
}
.row {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
}
.card {
  cursor: pointer;
  position: relative;
  aspect-ratio: 1 / 1;
  height: 140px;

  box-shadow: 1px 2px 3px black;
  transition: 1000ms;
}
/* Card Picture */
.picture {
  height: 100%;
  overflow: hidden;
}
.picture img {
  display: block;
  margin: 0 auto;
  max-height: 100%;
  transform: scale(1.4);
  transition: 1000ms;
}
.card:hover .picture img {
  transform: scale(1.7);
  filter: brightness(0.4);
}
.card:hover .card-text {
  opacity: 100%;
}
/* Card text */
.card-text {
  padding: 0 5px;
  position: absolute;
  width: 100%;
  top: 50%;

  font-size: 14px;
  color: rgb(230, 230, 230);
  text-align: center;
  opacity: 0%;
  transition: 1000ms;
}

/* 
<------ Footer Style ------>
*/
footer {
  padding: 10px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2px;

  background: rgb(60, 60, 60);

  color: white;
  font-size: 12px;
  text-align: center;
}
footer a {
  color: rgb(240, 190, 60);
}
@media (max-width: 480px) {
  footer {
    font-size: 11px;
  }
}
